<div class="container">
    <table class="table" *ngIf="order">
        <thead>
            <tr>
                <th>ID</th><th>Date</th><th>Status</th>
                <!-- <th>QUANTITY</th> -->
            </tr>
        </thead>
        <tbody>
<h1>{{ order.billingDate}}</h1>
            <tr *ngFor="let o of order">
                <td>{{o.id}}</td>
               <td>{{o.billingDate |date:'dd/MM/YY hh:mm a' }}</td>
               <td>Good</td>
               <!--   <td>{{c.email}}</td> -->
                <td>  <button class="btn btn-success" (click)="getOrderDetail(o)">Details</button>  </td>
              
                <!-- <td>{{p.id}}</td>
                <td>{{p.id}}</td> -->
            </tr>
        </tbody>
    </table>


  


</div> 